* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* text box to tell user a thing to do with this website  */
.text-show-box {
  border: 1px solid black;
  border-radius: 2%;
  position: fixed;
  height: 20%;
  width: 100%;
  margin-top: 10%;
  background-color: rgb(209, 209, 209);
}

/* text inside text-show box */
.text-show-box > h2 {
  margin-left: 40%;
  text-transform: capitalize;
}

.text-show-box > h3 {
  margin-left: 55%;
  text-transform: capitalize;
}

/* ok button */
.ok-btn {
  margin-top: 1%;
  margin-left: 54%;
  width: 10%;
  border: none;
  border-radius: 5%;
  box-shadow: 3px 3px 6px;
}

.row {
  border-radius: 5%;
  background-color: rgb(233, 228, 228);
}

/* first columns in first row */
.col {
  display: inline-block;
  padding: 10px;
}

/* second columns in second row */
.nd-col {
  margin: 20px;
}

/* title 'DiZionary' */
.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(196, 189, 189);
  padding: 10px;
  margin-right: 5px;
}

/* search box and btn */
.text-btn {
  margin-left: 8%;
}

/* 'sign up' button */
.sign {
  margin-left: 5px;
}

/* content box */
.content-box {
  margin-top: 10px;
  border: 2px solid lightgray;
}

/* box for text and text definition */
.word {
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
}

/* box for text */
.text-box {
  border: 2px solid blue;
  margin-left: 100px;
}

/* text detailed info */
.text-info-box > h2,
.text-info-box > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-info-box > h2,
.text-info-box > h4,
.text-info-box > h5 {
  margin: 20px;
}

/* text definition */
.text-def-box > h3 {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 10px;
}

/* 'like' button box */
.text-info-box > button {
  margin-left: 35px;
}

/* box for text definition */
.text-def-box {
  border: 2px solid blue;
  margin-right: 100px;
}

/* @Media  */

/* IF 'SCREEN' WIDTH IS LESS THEN EQUAL TO 480 | Phone */
@media only screen and (max-width: 480px) {
  .sm-1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* .sm-0 {
    display: none;
  } */
}

/* IF 'SCREEN' WIDTH IS GREATER THAN EQUAL TO 481 | Tablet */
@media only screen and (min-width: 481px) {
  .med-2 {
    /* if you have bigger screen try to do 50% */
    width: 30%; /* my screen fits well with this % */
  }
}

/* IF 'SCREEN' WIDTH IS GREATER THAN EQUAL TO 1240 | Desktop */
@media only screen and (min-width: 1240) {
  /* my screen is not large enough, adjust the % to your screen */
  .lg-2 {
    width: 40%;
  }
  .lg-1 {
    width: 20%;
  }
}

.shadow {
  box-shadow: 2px 2px 5px black;
  transition: 300ms;
}
