* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* text box to tell user a thing to do with this website  */
.text-show {
  border: 1px solid black;
  border-radius: 2%;
  position: fixed;
  height: 30%;
  width: 100%;
  margin-top: 10%;
  background-color: rgb(184, 194, 197);
}

/* text inside text-show box */
.text-show > h2 {
  margin-left: 40%;
  text-transform: capitalize;
}

.text-show > h3 {
  margin-left: 55%;
  text-transform: capitalize;
}

/* ok button */
.ok-btn {
  margin-top: 1%;
  margin-left: 54%;
  width: 10%;
  border: none;
  border-radius: 5%;
  box-shadow: 3px 3px 6px;
}

.row {
  border-radius: 5%;
  background-color: rgb(233, 228, 228);
}

.col {
  display: inline-block;
  padding: 10px;
}

/* title 'Dizionary' */
.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(196, 189, 189);
  padding: 10px;
  margin-right: 5px;
}

/* search box and btn */
.text-btn {
  margin-right: 5px;
  border: 1px solid red;
}

/* 'sign up' button */
.sign {
  margin-left: 5px;
}

/* @Media  */

/* IF 'SCREEN' IS LESS THEN EQUAL TO 480 */
@media only screen and (max-width: 480px) {
  .sm-1 {
    width: 100%;
  }
  /* .sm-0 {
    display: none;
  } */
}

/* IF 'SCREEN' IS GREATER THAN EQUAL TO 481 */
@media only screen and (min-width: 481px) {
  .med-2 {
    /* if you have bigger screen try to do 50% */
    width: 30%; /* my screen fits well with this % */
  }
}

/* IF 'SCREEN' IS GREATER THAN EQUAL TO 1240 */
@media only screen and (min-width: 1240) {
  /* my screen is not large enough, adjust the % to your screen */
  .lg-2 {
    width: 40%;
  }
  .lg-1 {
    width: 20%;
  }
}
